.main {
    -fx-background-color:transparent;
}

.pane {
    -fx-background-color: #333333;
}

.trans-btn-white-brder {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.primary-btn {
    -fx-background-color: #58C08E;
    -fx-background-radius:5px;
    -fx-text-fill: whitesmoke;
}

.white-pane {
    -fx-background-color: white
}

.tf-box {
    -fx-background-color: transparent;
    -fx-border-color: #D2D2D2;
    -fx-border-width: 0px 0px 1px 0px;
}

.tf {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #CEE9DA;
}