.main {
    -fx-background-color:transparent;
}

.trans-btn-white-brder {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.primary-btn {
    -fx-background-color: #58C08E;
    -fx-background-radius:5px;
    -fx-text-fill: whitesmoke;
}

.blue-pane {
    -fx-background-color: #32475E;
}

.white-pane {
    -fx-background-color: white;
}

.blue-bordered-pane {
    -fx-border-color: #32475E;
    -fx-border-radius: 5px;
    -fx-border-width: 20px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
}

.tf-box {
    -fx-background-color: transparent;
    -fx-border-color: #D2D2D2;
    -fx-border-width: 0px 0px 1px 0px;
}

.tf {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #CEE9DA;
}

.v-bar-5 {
    -fx-background-color: #58C08E;
    -fx-border-color: transparent;
    -fx-min-width: 5px;
    -fx-pref-width: 5px;
    -fx-max-width: 5px;
}